
.item-part{
	padding-top: 20px;
	width: 400px;
	height: 600px;
	}
.item-part-one{
	position: relative;
	left: 400px;
}
.text-name{
	font-size: 40px;
	padding-bottom: 20px;
}
.price-tag{
	padding-top: 20px;
	padding-bottom: 20px ;
	
}
.btn{
	border-radius: 15px;
	outline: 0;
}
.container-item{
	padding-top: 10px;
	display: flex;
}
.item-part-two{
	position: relative;
	left: 200px;
}