<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="./assset/checkout.css">
    
    
    <script src="./assset/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body onload="AddCheckOutCart()">
    <div class='container'>
		<div class="dot">
          <a href="http://localhost:8080">
          <img style="height: 45px; width: 45px; position: relative; top: 2px; left: 2px;" src="./assset/icon/arrow-left-solid.svg">
          </a>
        </div>
        <div class='window'>
        <div class='window'>
          <div class='order-info'>
            <div class='order-info-content'>
              <h2>Order Summary</h2>
                      <div class='line'></div>
            <div style="overflow-y: scroll; height: 440px;" id="checkoutCart">
              
            </div>
              <div class='line'></div>
              <div class='total'>
                <span style='float:left;'>
                
                  <div class='thin dense'>Delivery</div>
                  TOTAL
                </span>
                <span style='float:right; text-align:right;'>
                  
                  <div class='thin dense'>$4.95</div>
                  <div id="totalprice"> $0</div>
                </span>
              </div>
      </div>
      </div>
              <div class='credit-info'>
                <form class='credit-info-content' method="get">
                  
                  <img src='./assset/icon/shonenjumplogo.png' style="height: 240px; width: 220px; padding-left: 150px;"></img>
                  Your Username

                  <input class='input-field' name="username"></input>
                  Address
                  <input class='input-field' name="address"></input>
                  Phone Number
                  <input class='input-field' name="phonenumber"></input>
                  
                  <button class='pay-btn'>Checkout</button>
      
                </form>
      
              </div>
            </div>
      </div>
      
</body>

</html>