<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
   
</head>
       <link rel="stylesheet" href="./assset/account.css">
<body>

    <div class="wrapper">
    <div class="content">
    <h1> Sign Up</h1>
        <form method="post" >
            <input type="text" name="name" id="name" placeholder="User Name"/>
            <input type="email" name="email" id="email" placeholder="Your Email"/>
            <input type="password" name="pass" id="pass" placeholder="Password"/>
            <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
            <button> Sign up</button>
            <h3> Already a member ?
                <a href="/signin"> Sign In</a>
            </h3>
        </form>
    </div>
    <div>
		<img class="img" src="./account/images/ichigo.png">
    </div>
    </div>
    

    <!-- JS -->
    <script th:inline = "javascript">
		var flag = /*[[${alertflag}]]*/ "Mess";
		
		var message = /*[[${message}]]*/ "Mess";
		if(flag){
            alert(message);}
 

		
	</script>
   
</body>
</html>